<div>
  <div class="card card-body shadow-lg">
    <form action="" class="form-group">
      <h2>Calculadora</h2>
      <div
        class="d-flex justify-content-center align-items-center flex-column gap-1"
      >
        <input type="number" placeholder="número 1" class="formcontrol" 
        [(ngModel)] = "num1" id ="num1" name="num1" />
        <input type="number" id ="num2" name ="num2 "placeholder="número 2 " [(ngModel)] = "num2" />
        <input type="text" id ="res"  name ="res" placeholder="Resultado" [(ngModel)]="res" readonly value="{{res}}" />
      </div>
      <div class="d-flex justify-content-around mt-1">
        <button class="btn btn-primary" (click)="suma()">+</button>
        <button class="btn btn-primary" (click)="resta()">-</button>
        <button class="btn btn-primary" (click)="mult()">*</button>
        <button class="btn btn-primary" (click)="division()">/</button>
      </div>
    </form>
  </div>
</div>
